## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,Jinjiang Inn Style Xinyang Dongfanghong Avenue...
1,17,Marzuq,YE,79.14,scattered clouds,14.40,46.47,NaN
2,26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,Soneva Fushi
3,31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,Valle Aridane
4,35,Georgetown,MY,77.00,mist,5.41,100.34,Cititel Penang

In [6]:
vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Xinyang,CN,75.51,scattered clouds,32.12,114.07,Jinjiang Inn Style Xinyang Dongfanghong Avenue...
2,26,Eydhafushi,MV,82.02,overcast clouds,5.10,73.07,Soneva Fushi
3,31,Los Llanos De Aridane,ES,75.20,overcast clouds,28.66,-17.92,Valle Aridane
4,35,Georgetown,MY,77.00,mist,5.41,100.34,Cititel Penang
5,48,Hambantota,LK,79.86,broken clouds,6.12,81.12,Bungalow 63
...,...,...,...,...,...,...,...,...
165,685,Ano Mera,GR,77.00,clear sky,37.45,25.40,Hotel La Résidence Mykonos
167,692,Laramie,US,82.40,clear sky,41.31,-105.59,Ramada by Wyndham Laramie
168,693,Bismarck,US,75.20,clear sky,46.81,-100.78,Ramkota Hotel & Conference Center
169,700,Tiruvallur,IN,80.60,scattered clouds,13.15,79.92,Raghu Residency
170,701,Brigantine,US,80.60,scattered clouds,39.41,-74.36,Legacy Vacation Resort Brigantine Beach

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[]
vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure